.header{
    background-color: #101e47;
}
.text-blue{
    color: #101e47;
}
.orange-color{
    color: orange;
}

.nav-design{
    text-decoration: none;
    color: white;
}

.nav-design:hover{
    color: orange;
}

.img-icon{
    width: 30px;
    border-radius: 15px;
}

.logOut-btn{
    text-decoration: none;
    color: white;
    border: none;
    background-color: #101e47;
}

.logOut-btn:hover{
    color: orange;
}